<aui:form>
    <aui:select id="dropdown" name="dropdown">
        #foreach($option in $options)
            <aui:option value="$option" label="$option"/>
        #end
    </aui:select>
</aui:form>

<aui:dialog id="my-dialog" width="600" height="400" title="Custom Dialog" class="aui-dialog2">
    <div class="aui-message-inner">
        <h2>Выберите опцию</h2>
        <p>Выберите из списка опцию, чтобы продолжить:</p>

        <aui:select id="dropdown" name="dropdown">
            #foreach($option in $options)
                <aui:option value="$option" label="$option"/>
            #end
        </aui:select>

        <p>Введите дополнительные данные:</p>
        <aui:textfield id="custom-field" label="Ваш текст" />

    </div>
    <aui:button-group>
        <aui:button id="save-btn" name="save" value="Сохранить" />
        <aui:button id="cancel-btn" name="cancel" value="Отмена" class="cancel" />
    </aui:button-group>
</aui:dialog>


<script type="text/javascript" src="$webResourceManager.getResourceUrl('ru.teamlead.jira.plugins.tutorial', 'dropdown-dialog-resources')"></script>
